{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}

      {% if object.churchname %}
        <p>{{ object.churchname }}</p>
      {% endif %}
      {% if object.country %}
        <p>{{object.country.as_p}}</p>
    {% endif %}
      <p>
      <input type="checkbox" onclick="return false" readonly value ={{object.acitvesurvey}} {% if object.acitvesurvey %} checked="checked" {% endif %}  data-toggle="toggle" data-on="Active" data-off="Not Active" data-onstyle="success" data-offstyle="danger">
    </p>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
    <a class="btn btn-primary" href="{% url 'users:report' %}"  target='_blank' role="button">Report</a>

  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
