{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% if object == request.user %}
{% block title %}User: {{ object.username }}{% endblock %}
{% endif %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm">
      {% if object == request.user %}
      <h2>{{ object.username }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}


      {% if object.churchname %}
        <p>{{ object.churchname }}</p>
      {% endif %}

      {% if object.hierarchy %}
        <p>{{object.hierarchy.as_p}}</p>
      {% endif %}

      {% if object.denomination %}
        <p>{{object.denomination.as_p}}</p>
      {% endif %}

      {% if object.country %}
        <p>{{object.country.as_p}}</p>
      {% endif %}

      {% if object.langauge %}
        <p>{{object.language.as_p}}</p>
      {% endif %}
      <p>
      <input type="checkbox" onclick="return false" disabled
         value ={{object.acitvesurvey}} {% if object.acitvesurvey %} checked="checked" {% endif %}  data-toggle="toggle" data-on="{% trans 'Active' %}" data-off="{% trans 'Not Active' %}" data-onstyle="success" data-offstyle="danger">
      <br>
      <a href="https://tycp.online/index.php/{{ object.get_surveyid }}?lang=en" data-toggle="tooltip" data-placement="right"
        title="{% trans 'Copy and paste this link into the email sent to Participants in the TYCP diagnostic survey (English)' %}"
         target="_blank">TYCP {% trans _('English') %}</a>
      <br>
      <a href="https://tycp.online/index.php/{{ object.get_surveyid }}?lang=es" data-toggle="tooltip" data-placement="right"
        title="{% trans 'Copy and paste this link into the email sent to Participants in the TYCP diagnostic survey (Spanish)' %}"
         target="_blank">TYCP {% trans _('Spanish') %}</a>
     </p>
     {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm">
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">{% trans 'Settings' %}</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">{% trans 'E-Mail' %}</a>
    <!-- Your Stuff: Custom user template urls -->
    <a class="btn btn-primary" href="{% url 'users:report' %}" data-toggle="tooltip" data-placement="right"
      title="{% trans 'The TYCP diagnostic survey report will open in a new window as a .pdf file to be downloaded' %}"
       target='_blank' role="button">{% trans 'Report'%}</a>

  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}
